data/timetable.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema	version="1.0"
			xmlns:xs="http://www.w3.org/2001/XMLSchema"
			elementFormDefault="qualified">
	
	<!--***********************************************************
	*************************XML Data Structure *******************
	************************************************************-->
	
	<!--instructor element will have first and last name of an instructor 
	which will be defined in xml-->
	<xs:complexType>
		<xs:sequence>
			<xs:element name="instructor" type="personType"/>
		</xs:sequence>
	</xs:complexType>
	
	<!--***********************************************************
	*******************Data Types needed for validation************
	************************************************************-->
	
	<!-- weekdays have to be one of five-->
	<xs:simpleType name="weekdayT">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MON"/>
			<xs:enumeration value="TUE"/>
			<xs:enumeration value="WED"/>
			<xs:enumeration value="THU"/>
			<xs:enumeration value="FRI"/>
		</xs:restriction>
	</xs:simpleType>
	
	<!-- time is 4 digit time-->
	<xs:simpleType name="time">
		<xs:restriction base="xs:integer">
			<xs:pattern value="[0-2][0-9][0-5][0-9]" />
		</xs:restriction>
	</xs:simpleType>
	
	<!-- person type is a string>-->
	<xs:complexType name="personType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="firstName" type="xs:string"/>
				<xs:attribute name="lastName" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<!-- courseType have to be one of two-->
	<xs:simpleType name="courseTypeT">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Lab"/>
			<xs:enumeration value="Lec"/>
		</xs:restriction>
	</xs:simpleType>

	<!-- courseCode is a 4 digit number-->
	<xs:simpleType name="courseCodeT">
		<xs:restriction base="xs:integer">
			<xs:pattern value="[0-9][0-9][0-9][0-9]" />
		</xs:restriction>
	</xs:simpleType>
	
	<!-- weekdays have to be one of five-->
	<xs:simpleType name="roomT">
		<xs:restriction base="xs:string">
			<xs:pattern value="([A-Z]{2})\d{1,2}\s\d{3,4}" /> 
		</xs:restriction>
	</xs:simpleType>
	

</xs:schema>
